[Unit]
Description=RPI Monitor
After=network.target

[Service]
ExecStart=/usr/local/rpimonitor/rpimonitor -config env.conf
Restart=always
WorkingDirectory=/usr/local/rpimonitor/
StartLimitInterval=600

[Install]
WantedBy=multi-user.target
